FlushAllCaches = 0
MakeEachEnqueueBlocking = 0
EnableNullHardware = 0
DoCpuCopyOnReadBuffer = 0
DoCpuCopyOnWriteBuffer = 0
DisableResourceRecycling = 0
PrintDebugMessages = 0
DumpKernels = 0
DumpKernelArgs = 0
LogApiCalls = 0
LogPatchTokens = 0
LogTaskCounts = 0
LogAlignedAllocations = 0
LogMemoryObject = 0
ForceLinearImages = 0
ForceSLML3Config = 0
SetCommandStreamReceiver = 0
ForceOCLVersion = 0
Force32bitAddressing = 0
InitializeMemoryInDebug = 16
UseNewHeapAllocator = 1
EnableVaLibCalls = 1
EnableNV12 = 1
EnablePackedYuv = 1
EnableIntelVme = 1
EnableAdvancedIntelVme = 1
DisableStatelessToStatefulOptimization = 0
ForceDispatchScheduler = 0
PrintEMDebugInformation = 0
SchedulerSimulationReturnInstance = 0
DisableConcurrentBlockExecution = 0
ResidencyDebugEnable = 0
ForcePreemptionMode = -1
EnableStatelessToStatefulBufferOffsetOpt = 1
TbxPort = 4321
TbxServer = 127.0.0.1
EnableDeferredDeleter = 1
EnableAsyncDestroyAllocations = 1
EnableAsyncEventsHandler = 1
EnableForcePin = false
CsrDispatchMode = 0
OverrideDefaultFP64Settings = -1
OverrideEnableKmdNotify = -1
OverrideKmdNotifyDelayMs = -1
OverrideEnableQuickKmdSleep = -1
OverrideQuickKmdSleepDelayMicroseconds = -1
OverrideEnableQuickKmdSleepForSporadicWaits = -1
OverrideDelayQuickKmdSleepForSporadicWaitsMicroseconds = -1
Enable64kbpages = -1
NodeOrdinal = -1
ProductFamilyOverride = unk
EnableDebugBreak = true
EnableComputeWorkSizeND = true
EventsDebugEnable = false
UseMaxSimdSizeToDeduceMaxWorkgroupSize = false
EnableComputeWorkSizeSquared = false
TrackParentEvents = false
PrintLWSSizes = false
UseNoRingFlushesKmdMode = false
OverrideThreadArbitrationPolicy = -1
PrintDriverDiagnostics = -1
FlattenBatchBufferForAUBDump = false
PrintDispatchParameters = false
AddPatchInfoCommentsForAUBDump = false
DisableZeroCopyForUseHostPtr = false
SchedulerGWS = 0
DisableZeroCopyForBuffers = false
OverrideAubDeviceId = -1
ForceCompilerUsePlatform = unk