TbxServer = 127.0.0.1
ProductFamilyOverride = unk
HardwareInfoOverride = default
ForceCompilerUsePlatform = unk
AUBDumpBufferFormat = unk
AUBDumpImageFormat = unk
AUBDumpCaptureFileName = unk
AUBDumpFilterKernelName = unk
AUBDumpToggleFileName = unk
OverrideGdiPath = unk
AubDumpAddMmioRegistersList = unk
AUBDumpFilterNamedKernelStartIdx = 0
AUBDumpFilterNamedKernelEndIdx = -1
AUBDumpSubCaptureMode = 0
AUBDumpFilterKernelStartIdx = 0
AUBDumpFilterKernelEndIdx = -1
AUBDumpToggleCaptureOnOff = 0
AubDumpOverrideMmioRegister = 0
AubDumpOverrideMmioRegisterValue = 0
SetCommandStreamReceiver = -1
TbxPort = 4321
TbxFrontdoorMode = 0
FlattenBatchBufferForAUBDump = 0
AddPatchInfoCommentsForAUBDump = 0
UseAubStream = 1
AUBDumpAllocsOnEnqueueReadOnly = 0
AUBDumpAllocsOnEnqueueSVMMemcpyOnly = 0
AUBDumpForceAllToLocalMemory = 0
ForceDeviceId = unk
SchedulerSimulationReturnInstance = 0
SchedulerGWS = 0
EnableExperimentalCommandBuffer = 0
OverrideStatelessMocsIndex = -1
CFEFusedEUDispatch = -1
ForceAuxTranslationMode = -1
OverrideGpuAddressSpace = -1
OverrideMaxWorkgroupSize = -1
DoCpuCopyOnReadBuffer = -1
DoCpuCopyOnWriteBuffer = -1
PauseOnEnqueue = -1
EnableDebugBreak = 1
FlushAllCaches = 0
MakeEachEnqueueBlocking = 0
DisableResourceRecycling = 0
ForceDispatchScheduler = 0
TrackParentEvents = 0
RebuildPrecompiledKernels = 0
LoopAtDriverInit = 0
DoNotRegisterTrimCallback = 0
OverrideInvalidEngineWithDefault = 0
ForceAuxTranslationEnabled = -1
DisableTimestampPacketOptimizations = 0
DisableCachingForStatefulBufferAccess = 0
PrintDebugSettings = 0
PrintDebugMessages = 0
DumpKernels = 0
DumpKernelArgs = 0
LogApiCalls = 0
LogPatchTokens = 0
LogTaskCounts = 0
LogAlignedAllocations = 0
LogAllocationMemoryPool = 0
LogMemoryObject = 0
ResidencyDebugEnable = 0
EventsDebugEnable = 0
EventsTrackerEnable = 0
PrintEMDebugInformation = 0
PrintLWSSizes = 0
PrintDispatchParameters = 0
PrintProgramBinaryProcessingTime = 0
PrintRelocations = 0
PrintTimestampPacketContents = 0
WddmResidencyLogger = 0
PrintBOCreateDestroyResult = 0
PrintBOBindingResult = 0
PrintDriverDiagnostics = -1
PrintDeviceAndEngineIdOnSubmission = 0
EnableDirectSubmission = -1
DirectSubmissionBufferPlacement = -1
DirectSubmissionSemaphorePlacement = -1
DirectSubmissionBufferAddressing = -1
DirectSubmissionSemaphoreAddressing = -1
DirectSubmissionDisableCpuCacheFlush = -1
DirectSubmissionEnableDebugBuffer = 0
DirectSubmissionDiagnosticExecutionCount = 30
DirectSubmissionDisableCacheFlush = -1
DirectSubmissionDisableMonitorFence = 0
USMEvictAfterMigration = 1
UseVmBind = -1
EnableNullHardware = 0
ForceLinearImages = 0
ForceSLML3Config = 0
Force32bitAddressing = 0
ForceCsrFlushing = 0
ForceCsrReprogramming = 0
OmitTimestampPacketDependencies = 0
DisableStatelessToStatefulOptimization = 0
DisableConcurrentBlockExecution = 0
UseNoRingFlushesKmdMode = 1
DisableZeroCopyForUseHostPtr = 0
DisableZeroCopyForBuffers = 0
DisableDcFlushInEpilogue = 0
EnableHostPtrTracking = -1
EnableNV12 = 1
EnablePackedYuv = 1
EnableDeferredDeleter = 1
EnableAsyncDestroyAllocations = 1
EnableAsyncEventsHandler = 1
EnableForcePin = 1
EnableComputeWorkSizeND = 1
EnableMultiRootDeviceContexts = 0
EnableComputeWorkSizeSquared = 0
EnableVaLibCalls = 1
EnableExtendedVaFormats = 0
AddClGlSharing = 0
EnableFormatQuery = 0
EnableFreeMemory = 0
ForceSamplerLowFilteringPrecision = 0
UseBindlessBuffers = 0
UseBindlessImages = 0
MakeAllBuffersResident = 0
EnableIntelVme = -1
EnableIntelAdvancedVme = -1
EnableBlitterOperationsSupport = -1
EnableBlitterOperationsForReadWriteBuffers = -1
EnableCacheFlushAfterWalker = -1
EnableLocalMemory = -1
EnableStatelessToStatefulBufferOffsetOpt = -1
CreateMultipleRootDevices = 0
CreateMultipleSubDevices = 0
LimitAmountOfReturnedDevices = 0
Enable64kbpages = -1
OverrideEnableKmdNotify = -1
OverrideKmdNotifyDelayMicroseconds = -1
OverrideEnableQuickKmdSleep = -1
OverrideQuickKmdSleepDelayMicroseconds = -1
OverrideEnableQuickKmdSleepForSporadicWaits = -1
OverrideDelayQuickKmdSleepForSporadicWaitsMicroseconds = -1
PowerSavingMode = 0
CsrDispatchMode = 0
OverrideDefaultFP64Settings = -1
RenderCompressedImagesEnabled = -1
RenderCompressedBuffersEnabled = -1
EnableSharedSystemUsmSupport = -1
EnablePassInlineData = -1
ForceFineGrainedSVMSupport = -1
ForceDeviceEnqueueSupport = -1
ForcePipeSupport = -1
ForceSystemMemoryPlacement = 0
ForceNonSystemMemoryPlacement = 0
DisableIndirectAccess = -1
ForceOCLVersion = 0
ForceOCL21FeaturesSupport = -1
ForcePreemptionMode = -1
ForceKernelPreemptionMode = -1
NodeOrdinal = -1
OverrideThreadArbitrationPolicy = -1
OverrideAubDeviceId = -1
EnableTimestampPacket = -1
AllocateSharedAllocationsWithCpuAndGpuStorage = -1
UseMaxSimdSizeToDeduceMaxWorkgroupSize = 0
ReturnRawGpuTimestamps = 0
ForcePerDssBackedBufferProgramming = 0
DisableAtomicForPostSyncs = 0
MaxHwThreadsPercent = 0
MinHwThreadsUnoccupied = 0
LimitBlitterMaxWidth = -1
LimitBlitterMaxHeight = -1
FlushAfterEachBlit = -1
UseCommandBufferHeaderSizeForWddmQueueSubmission = 1
OverridePreemptionSurfaceSizeInMb = -1
OverrideLeastOccupiedBank = -1
UseAsyncDrmExec = -1
EnableMultiStorageResources = -1
PrintExecutionBuffer = 0
EnableCrossDeviceAccess = -1
PauseOnBlitCopy = -1
ForceImplicitFlush = 0
ForcePipeControlPriorToWalker = 0
OverrideRevision = -1
ForceCacheFlushForBcs = -1
ForceGpgpuSubmissionForBcsEnqueue = -1
ForceSemaphoreDelayBetweenWaits = -1
ForceLocalMemoryAccessMode = -1
ZebinAppendElws = 0
ZebinIgnoreIcbeVersion = 0
LogWaitingForCompletion = 0
ForceUserptrAlignment = -1
UseExternalAllocatorForSshAndDsh = 0
DirectSubmissionOverrideBlitterSupport = -1
DirectSubmissionOverrideRenderSupport = -1
DirectSubmissionOverrideComputeSupport = -1
EnableUsmCompression = -1
PerformImplicitFlushEveryEnqueueCount = -1
PerformImplicitFlushForNewResource = -1
PerformImplicitFlushForIdleGpu = -1
ProvideVerboseImplicitFlush = false
PauseOnGpuMode = -1
PrintTagAllocationAddress = 0
DoNotFlushCaches = false