TbxServer = 127.0.0.1
ProductFamilyOverride = unk
HardwareInfoOverride = default
ForceCompilerUsePlatform = unk
AUBDumpBufferFormat = unk
AUBDumpImageFormat = unk
AUBDumpCaptureFileName = unk
AUBDumpFilterKernelName = unk
AUBDumpToggleFileName = unk
OverrideGdiPath = unk
AubDumpAddMmioRegistersList = unk
ZE_AFFINITY_MASK = default
ZEX_NUMBER_OF_CCS = default
ZE_ENABLE_PCI_ID_DEVICE_ORDER = 1
AUBDumpFilterNamedKernelStartIdx = 0
AUBDumpFilterNamedKernelEndIdx = -1
AUBDumpSubCaptureMode = 0
AUBDumpFilterKernelStartIdx = 0
AUBDumpFilterKernelEndIdx = -1
AUBDumpToggleCaptureOnOff = 0
AubDumpOverrideMmioRegister = 0
AubDumpOverrideMmioRegisterValue = 0
SetCommandStreamReceiver = -1
TbxPort = 4321
TbxFrontdoorMode = 0
FlattenBatchBufferForAUBDump = 0
AddPatchInfoCommentsForAUBDump = 0
UseAubStream = 1
AUBDumpAllocsOnEnqueueReadOnly = 0
AUBDumpAllocsOnEnqueueSVMMemcpyOnly = 0
AUBDumpForceAllToLocalMemory = 0
GenerateAubFilePerProcessId = 0
EnableSWTags = 0
DumpSWTagsBXML = 0
ForceDeviceId = unk
FilterDeviceId = unk
FilterBdfPath = unk
LoadBinarySipFromFile = unk
InjectInternalBuildOptions = unk
OverrideCsrAllocationSize = -1
ForceL1Caching = -1
UseKmdMigration = -1
UseKmdMigrationForBuffers = -1
EnableExperimentalCommandBuffer = 0
OverrideStatelessMocsIndex = -1
OverrideMocsIndexForScratchSpace = -1
CFEFusedEUDispatch = -1
ForceAuxTranslationMode = -1
OverrideGpuAddressSpace = -1
OverrideMaxWorkgroupSize = -1
EnableFlushTaskSubmission = -1
DoCpuCopyOnReadBuffer = -1
DoCpuCopyOnWriteBuffer = -1
PauseOnEnqueue = -1
EnableDebugBreak = 1
FlushAllCaches = 0
MakeEachEnqueueBlocking = 0
DisableResourceRecycling = 0
TrackParentEvents = 0
RebuildPrecompiledKernels = 0
DisableKernelRecompilation = 0
LoopAtDriverInit = 0
DoNotRegisterTrimCallback = 0
OverrideInvalidEngineWithDefault = 0
EnableKernelTunning = -1
ForceAuxTranslationEnabled = -1
DisableTimestampPacketOptimizations = 0
DisableCachingForStatefulBufferAccess = 0
PrintDebugSettings = 0
PrintDebugMessages = 0
DumpKernels = 0
DumpKernelArgs = 0
LogApiCalls = 0
LogPatchTokens = 0
LogTaskCounts = 0
LogAlignedAllocations = 0
LogAllocationMemoryPool = 0
LogMemoryObject = 0
ResidencyDebugEnable = 0
EventsDebugEnable = 0
EventsTrackerEnable = 0
PrintLWSSizes = 0
PrintDispatchParameters = 0
PrintProgramBinaryProcessingTime = 0
PrintRelocations = 0
PrintTimestampPacketContents = 0
WddmResidencyLogger = 0
PrintBOCreateDestroyResult = 0
PrintBOBindingResult = 0
PrintDriverDiagnostics = -1
PrintDeviceAndEngineIdOnSubmission = 0
EnableDirectSubmission = -1
DirectSubmissionBufferPlacement = -1
DirectSubmissionSemaphorePlacement = -1
DirectSubmissionBufferAddressing = -1
DirectSubmissionSemaphoreAddressing = -1
DirectSubmissionDisableCpuCacheFlush = -1
DirectSubmissionEnableDebugBuffer = 0
DirectSubmissionDiagnosticExecutionCount = 30
DirectSubmissionNewResourceTlbFlush = -1
DirectSubmissionDisableCacheFlush = -1
DirectSubmissionDisableMonitorFence = -1
DirectSubmissionPrintBuffers = 0
DirectSubmissionMaxRingBuffers = -1
USMEvictAfterMigration = 0
EnableDirectSubmissionController = -1
DirectSubmissionControllerTimeout = -1
DirectSubmissionControllerDivisor = -1
UseVmBind = -1
PassBoundBOToExec = -1
EnableNullHardware = 0
ForceLinearImages = 0
ForceSLML3Config = 0
Force32bitAddressing = 0
ForceCsrFlushing = 0
ForceCsrReprogramming = 0
OmitTimestampPacketDependencies = 0
DisableStatelessToStatefulOptimization = 0
DisableConcurrentBlockExecution = 0
UseNoRingFlushesKmdMode = 1
DisableZeroCopyForUseHostPtr = 0
DisableZeroCopyForBuffers = 0
DisableDcFlushInEpilogue = 0
EnableBOMmapCreate = -1
EnableHostPtrTracking = -1
EnableNV12 = 1
EnablePackedYuv = 1
EnableDeferredDeleter = 1
EnableAsyncDestroyAllocations = 1
EnableAsyncEventsHandler = 1
EnableForcePin = 1
EnableGemCloseWorker = -1
EnableHostPtrValidation = -1
EnableComputeWorkSizeND = 1
EnableMultiRootDeviceContexts = 1
EnableComputeWorkSizeSquared = 0
EnableVaLibCalls = -1
EnableExtendedVaFormats = 0
AddClGlSharing = -1
EnableFormatQuery = 1
EnableFreeMemory = 0
ForceSamplerLowFilteringPrecision = 0
MakeAllBuffersResident = 0
EnableIntelVme = -1
EnableIntelAdvancedVme = -1
EnableBlitterOperationsSupport = -1
EnableBlitterForEnqueueOperations = -1
EnableBlitterForEnqueueImageOperations = -1
EnableCacheFlushAfterWalker = -1
EnableLocalMemory = -1
EnableStatelessToStatefulBufferOffsetOpt = -1
CreateMultipleRootDevices = 0
CreateMultipleSubDevices = 0
ReturnSubDevicesAsApiDevices = -1
LimitAmountOfReturnedDevices = 0
Enable64kbpages = -1
OverrideEnableKmdNotify = -1
OverrideKmdNotifyDelayMicroseconds = -1
OverrideEnableQuickKmdSleep = -1
OverrideQuickKmdSleepDelayMicroseconds = -1
OverrideEnableQuickKmdSleepForSporadicWaits = -1
OverrideDelayQuickKmdSleepForSporadicWaitsMicroseconds = -1
OverrideEnableQuickKmdSleepForDirectSubmission = -1
OverrideDelayQuickKmdSleepForDirectSubmissionMicroseconds = -1
PowerSavingMode = 0
CsrDispatchMode = 0
OverrideDefaultFP64Settings = -1
RenderCompressedImagesEnabled = -1
RenderCompressedBuffersEnabled = -1
EnableUsmConcurrentAccessSupport = 0
EnableSharedSystemUsmSupport = -1
EnablePassInlineData = -1
ForceFineGrainedSVMSupport = -1
ForcePipeSupport = -1
ForceSystemMemoryPlacement = 0
ForceNonSystemMemoryPlacement = 0
DisableIndirectAccess = -1
ForceOCLVersion = 0
ForceOCL21FeaturesSupport = -1
ForcePreemptionMode = -1
UsmInitialPlacement = -1
ForceKernelPreemptionMode = -1
NodeOrdinal = -1
OverrideThreadArbitrationPolicy = -1
OverrideAubDeviceId = -1
EnableTimestampPacket = -1
AllocateSharedAllocationsWithCpuAndGpuStorage = -1
UseMaxSimdSizeToDeduceMaxWorkgroupSize = 0
ReturnRawGpuTimestamps = 0
EnableDeviceBasedTimestamps = 0
MaxHwThreadsPercent = 0
MinHwThreadsUnoccupied = 0
LimitBlitterMaxWidth = -1
LimitBlitterMaxHeight = -1
PostBlitCommand = -1
UseCommandBufferHeaderSizeForWddmQueueSubmission = 1
OverridePreemptionSurfaceSizeInMb = -1
OverrideLeastOccupiedBank = -1
UseAsyncDrmExec = -1
EnableMultiStorageResources = -1
MultiStorageGranularity = -1
MultiStoragePolicy = -1;
PrintExecutionBuffer = 0
PrintBOsForSubmit = 0
PauseOnBlitCopy = -1
ForceImplicitFlush = 0
ForcePipeControlPriorToWalker = 0
OverrideRevision = -1
ForceCacheFlushForBcs = -1
ForceGpgpuSubmissionForBcsEnqueue = -1
ForceSemaphoreDelayBetweenWaits = -1
ForceLocalMemoryAccessMode = -1
ZebinAppendElws = 0
ZebinIgnoreIcbeVersion = 0
LogWaitingForCompletion = 0
ForceUserptrAlignment = -1
ForceCommandBufferAlignment = -1
ForceDefaultHeapSize = -1
UseExternalAllocatorForSshAndDsh = 0
DirectSubmissionDrmContext = -1
DirectSubmissionOverrideBlitterSupport = -1
DirectSubmissionOverrideRenderSupport = -1
DirectSubmissionOverrideComputeSupport = -1
EnableUsmCompression = -1
PerformImplicitFlushEveryEnqueueCount = -1
PerformImplicitFlushForNewResource = -1
PerformImplicitFlushForIdleGpu = -1
ProvideVerboseImplicitFlush = false
PauseOnGpuMode = -1
PrintTagAllocationAddress = 0
DoNotFlushCaches = false
UseBindlessMode = -1
MediaVfeStateMaxSubSlices = -1
PrintBlitDispatchDetails = 0
EnableMockSourceLevelDebugger = 0
EnableHostPointerImport = -1
EnableHostUsmSupport = -1
ForceBtpPrefetchMode = -1
OverrideProfilingTimerResolution = -1
PrintIoctlTimes = 0
PrintIoctlEntries = 0
PrintUmdSharedMigration = 0
UpdateTaskCountFromWait = -1
EnableTimestampWaitForQueues = -1
PreferCopyEngineForCopyBufferToBuffer = -1
EnableStaticPartitioning = -1
DisableDeepBind = 0
GpuScratchRegWriteAfterWalker = -1
GpuScratchRegWriteRegisterData = 0
GpuScratchRegWriteRegisterOffset = 0
UseBindlessDebugSip = 0
OverrideTimestampEvents= -1
OverrideSlmAllocationSize = -1
OverrideSlmSize = -1
UseCyclesPerSecondTimer = 0
PrintOsContextInitializations = 0
WaitLoopCount = -1
DebuggerLogBitmask = 0
GTPinAllocateBufferInSharedMemory = -1
DeferOsContextInitialization = -1
DebuggerOptDisable = -1
DebuggerForceSbaTrackingMode = -1
ExperimentalEnableCustomLocalMemoryAlignment = 0
AlignLocalMemoryVaTo2MB = -1
EngineInstancedSubDevices = 0
OverrideTimestampPacketSize = -1
CFEComputeOverdispatchDisable = -1
CFEWeightedDispatchModeDisable = -1
CFESingleSliceDispatchCCSMode = -1
CleanStateInPreamble = 0
CFENumberOfWalkers = -1
CFEMaximumNumberOfThreads = -1
CFEOverDispatchControl = -1
CFELargeGRFThreadAdjustDisable = -1
SynchronizeWalkerInWparidMode = -1
EnableWalkerPartition = -1
OverrideNumComputeUnitsForScratch = -1
ForceThreadGroupDispatchSize = -1
ForceStatelessL1CachingPolicy = -1
ForceMemoryBankIndexOverride = -1
SynchronizeWithSemaphores = -1
UseCrossAtomicSynchronization = -1
EnableStatelessCompression = -1
EnableMultiTileCompression = -1
EnablePrivateScratchSlot1 = -1
DisablePipeControlPrecedingPostSyncCommand = -1
UseClearColorAllocationForBlitter = false
OverrideMultiStoragePlacement = -1
MultiTileIsaPlacement = -1
FormatForStatelessCompressionWithUnifiedMemory = 0xF
ForceMultiGpuPartialWritesInComputeMode = -1
ForceMultiGpuPartialWrites = -1
ForceMultiGpuAtomicsInComputeMode = -1
ForceMultiGpuAtomics = -1
ForceBufferCompressionFormat = -1
ExperimentalSetWalkerPartitionCount = 0
EnableStatelessCompressionWithUnifiedMemory = 0
EnableMultiGpuAtomicsOptimization = 1
EnableHwGenerationLocalIds = -1
WalkerPartitionPreferHighestDimension = -1
SetMinimalPartitionSize = -1
OverrideBlitterTargetMemory = -1
OverrideBlitterMocs = -1
GlobalSequencerFlushOnCopyEngine = false
ForceCompressionDisabledForCompressedBlitCopies = -1
ExperimentalSetWalkerPartitionType = -1
UseImmDataWriteModeOnPostSyncOperation = 0
OverridePostSyncMocs = -1
EnableImmediateVmBindExt = -1
ForceExecutionTile = -1
DisableCachingForHeaps = 0
OverrideTimestampPacketSize = -1
ClDeviceGlobalMemSizeAvailablePercent = -1
DebugApiUsed = 0
ForceHostPointerImport = -1
OverrideMaxWorkGroupCount = -1
UseUmKmDataTranslator = 0
EnableUserFenceForCompletionWait = -1
EnableUserFenceUseCtxId = -1
EnableResourceTags = 0
SetKmdWaitTimeout = -1
OverrideNotifyEnableForTagUpdatePostSync = -1
OverrideUseKmdWaitFunction = -1
EnableCacheFlushAfterWalkerForAllQueues = -1
Force32BitDriverSupport = -1
EnableCmdQRoundRobindEngineAssign = -1
CmdQRoundRobindEngineAssignBitfield = -1
CmdQRoundRobindEngineAssignNTo1 = -1
EnableCmdQRoundRobindBcsEngineAssign = -1
EnableCmdQRoundRobindBcsEngineAssignLimit = -1
EnableCmdQRoundRobindBcsEngineAssignStartingValue = -1
ForceBCSForInternalCopyEngine = -1
OverrideCmdQueueSynchronousMode = -1
UseAtomicsForSelfCleanupSection = -1
HBMSizePerTileInGigabytes = 0
OverrideSystolicPipelineSelect = -1
OverrideSystolicInComputeWalker = -1
OverrideKernelSizeLimitForSmallDispatch = -1
SkipFlushingEventsOnGetStatusCalls = 0
AllowUnrestrictedSize = 0
ForceDefaultThreadArbitrationPolicyIfNotSpecified = 0
DoNotFreeResources = 0
OverrideGmmResourceUsageField = -1
LogAllocationType = 0
LogAllocationStdout = 0
ProgramExtendedPipeControlPriorToNonPipelinedStateCommand = -1
ProgramWalkerPartitionSelfCleanup = -1
WparidRegisterProgramming = -1
UsePipeControlAfterPartitionedWalker = -1
OverrideBufferSuitableForRenderCompression = -1
AllowMixingRegularAndCooperativeKernels = 0
AllowPatchingVfeStateInCommandLists = 0
PrintMemoryRegionSizes = 0
OverrideDrmRegion = -1
AllowSingleTileEngineInstancedSubDevices = 0
BinaryCacheTrace = false
OverrideL1CacheControlInSurfaceState = -1
OverrideL1CacheControlInSurfaceStateForScratchSpace = -1
OverridePreferredSlmAllocationSizePerDss = -1
ForceGrfNumProgrammingWithScm = -1
ForceThreadArbitrationPolicyProgrammingWithScm = -1
ForceL3PrefetchForComputeWalker = -1
ForceZPassAsyncComputeThreadLimit = -1
ForcePixelAsyncComputeThreadLimit = -1
ToggleHintKernelDisableCompression = -1
EnableImplicitScaling = -1
DecompressInL3ForImage2dFromBuffer = -1
CFEComputeDispatchAllWalkerEnable = -1
ComputeDispatchAllWalkerEnableInComputeWalker = -1
EnableMemoryPrefetch = -1
ForceCsStallForStatePrefetch = -1
ProgramGlobalFenceAsMiMemFenceCommandInCommandStream = -1
ProgramGlobalFenceAsPostSyncOperationInComputeWalker = -1
ProgramGlobalFenceAsKernelInstructionInEUKernel = -1
DoNotReportTile1BscWaActive = -1
ForceTile0PlacementForTile1ResourcesWaActive = -1
ClosEnabled = -1
ClosNumCacheWays = -1
EngineUsageHint = -1
AddStatePrefetchCmdToMemoryPrefetchAPI = -1
UpdateCrossThreadDataSize = 0
ForceBcsEngineIndex = -1
ResolveDependenciesViaPipeControls = -1
EnableDrmCompletionFence = -1
UseDrmCompletionFenceForAllAllocations = -1
ExperimentalEnableSourceLevelDebugger = 0
Force2dImageAsArray = -1
ForceExtendedBufferSize = -1
ForceExtendedUSMBufferSize = -1
ForceExtendedKernelIsaSize = -1
MakeIndirectAllocationsResidentAsPack = -1
MakeEachAllocationResident = -1
AssignBCSAtEnqueue = -1
DeferCmdQGpgpuInitialization = -1
DeferCmdQBcsInitialization = -1
PreferInternalBcsEngine = -1
ReuseKernelBinaries = -1
EnableChipsetUniqueUUID = -1
ForceSimdMessageSizeInWalker = -1
UseNewQueryTopoIoctl = 1
DisableGpuHangDetection = 0
DisableForceToStateless = 0
ForceTheoreticalMaxWorkGroupCount = 0
EnableRecoverablePageFaults = -1
EnableImplicitMigrationOnFaultableHardware = -1
UseDrmVirtualEnginesForCcs = -1
UseDrmVirtualEnginesForBcs = -1
LimitEngineCountForVirtualBcs = -1
LimitEngineCountForVirtualCcs = -1
ForceRunAloneContext = -1
AppendMemoryPrefetchForKmdMigratedSharedAllocations = -1
CreateContextWithAccessCounters = -1
AccessCountersTrigger = -1
AccessCountersGranularity = -1
OverridePatIndex = -1
UseTileMemoryBankInVirtualMemoryCreation = -1
DisableScratchPages = 0
ForceAllResourcesUncached = 0
ForcePreParserEnabledForMiArbCheck = -1
BatchBufferStartPrepatchingWaEnabled = -1
SetVmAdviseAtomicAttribute = -1
DirectSubmissionForceLocalMemoryStorageMode = -1
EnableRingSwitchTagUpdateWa = -1
PlaformSupportEvictWhenNecessaryFlag = -1
DirectSubmissionReadBackCommandBuffer = -1
DirectSubmissionReadBackRingBuffer = -1
ReadBackCommandBufferAllocation = -1
PrintImageBlitBlockCopyCmdDetails = 0
LogGdiCalls = 0
LogGdiCallsToFile = 0
UseContextEndOffsetForEventCompletion = -1
DirectSubmissionInsertExtraMiMemFenceCommands = -1
DirectSubmissionInsertSfenceInstructionPriorToSubmission = -1
EnableTimestampWaitForEvents = -1
ForceEvictOnlyIfNecessaryFlag = -1
ForceWddmLowPriorityContextValue = -1
EnableDebuggerMmapMemoryAccess = 0
FailBuildProgramWithStatefulAccess = -1
ForceUncachedGmmUsageType = 0
OverrideDeviceName = unk
EnablePrivateBO = 0
ExperimentalEnableDeviceAllocationCache = 0
OverrideL1CachePolicyInSurfaceStateAndStateless = -1
EnableBcsSwControlWa = -1
ExperimentalEnableL0DebuggerForOpenCL = 0
DebuggerDisableSingleAddressSbaTracking = 0
ForceImagesSupport = -1
ForceCsrLockInBcsEnqueueOnlyForGpgpuSubmission = -1
ExperimentalEnableTileAttach = 0
DirectSubmissionDisablePrefetcher = -1
