TbxServer = 127.0.0.1
ProductFamilyOverride = unk
HardwareInfoOverride = default
BlitterEnableMaskOverride = 0
ForceCompilerUsePlatform = unk
AUBDumpBufferFormat = unk
AUBDumpImageFormat = unk
AUBDumpCaptureFileName = unk
AUBDumpCaptureDirPath = unk
AUBDumpFilterKernelName = unk
AUBDumpToggleFileName = unk
OverrideGdiPath = unk
AubDumpAddMmioRegistersList = unk
ZE_AFFINITY_MASK = default
ZEX_NUMBER_OF_CCS = default
ZE_ENABLE_PCI_ID_DEVICE_ORDER = 0
NEO_CAL_ENABLED = 0
NEO_LOCAL_MEMORY_ALLOCATION_MODE = 0
AUBDumpFilterNamedKernelStartIdx = 0
AUBDumpFilterNamedKernelEndIdx = -1
AUBDumpSubCaptureMode = 0
AUBDumpFilterKernelStartIdx = 0
AUBDumpFilterKernelEndIdx = -1
AUBDumpToggleCaptureOnOff = 0
AubDumpOverrideMmioRegister = 0
AubDumpOverrideMmioRegisterValue = 0
SetCommandStreamReceiver = -1
TbxPort = 4321
TbxFrontdoorMode = 0
FlattenBatchBufferForAUBDump = 0
RegisterPageFaultHandlerOnMigration = 0
AddPatchInfoCommentsForAUBDump = 0
UseAubStream = 1
AUBDumpAllocsOnEnqueueReadOnly = 0
AUBDumpAllocsOnEnqueueSVMMemcpyOnly = 0
AUBDumpForceAllToLocalMemory = 0
GenerateAubFilePerProcessId = 1
SetBufferHostMemoryAlwaysAubWritable = 0
EnableTbxPageFaultManager = -1
EnableSWTags = 0
DumpSWTagsBXML = 0
ForceDeviceId = unk
FilterDeviceId = unk
FilterBdfPath = unk
LoadBinarySipFromFile = unk
DumpSipHeaderFile = unk
InjectInternalBuildOptions = unk
InjectApiBuildOptions = unk
OverrideCsrAllocationSize = -1
AbortHostSyncOnNonHostVisibleEvent = 0
IgnoreProductSpecificIoctlHelper = 0
PrintMclData = 0
ForceL1Caching = -1
UseKmdMigration = -1
CreateKmdMigratedSharedAllocationWithMultipleBOs = -1
UseKmdMigrationForBuffers = -1
OverrideStatelessMocsIndex = -1
OverrideMocsIndexForScratchSpace = -1
CFEFusedEUDispatch = -1
ForceAuxTranslationMode = -1
OverrideGpuAddressSpace = -1
OverrideMaxWorkgroupSize = -1
DontDisableZebinIfVmeUsed = 0
DoCpuCopyOnReadBuffer = -1
DoCpuCopyOnWriteBuffer = -1
PauseOnEnqueue = -1
EnableDebugBreak = 1
FlushAllCaches = 0
MakeEachEnqueueBlocking = 0
DisableResourceRecycling = 0
TrackParentEvents = 0
RebuildPrecompiledKernels = 0
DisableKernelRecompilation = 0
LoopAtDriverInit = 0
DoNotRegisterTrimCallback = 0
OverrideInvalidEngineWithDefault = 0
EnableKernelTunning = -1
ForceAuxTranslationEnabled = -1
DisableTimestampPacketOptimizations = 0
ForceHostSignalScope = -1
DisableCachingForStatefulBufferAccess = 0
PrintDebugSettings = 0
WddmPagingFenceCpuWaitDelayTime = 0
PrintL0SetKernelArg = 0
UsePipeControlMultiKernelEventSync = -1
PrintDebugMessages = 0
DebugMessagesBitmask = 0
DumpZEBin = 0
DumpKernels = 0
DumpKernelArgs = 0
LogApiCalls = 0
LogPatchTokens = 0
LogZEInfo = 0
LogTaskCounts = 0
LogAlignedAllocations = 0
LogAllocationMemoryPool = 0
LogMemoryObject = 0
ResidencyDebugEnable = 0
EventsDebugEnable = 0
PrintLWSSizes = 0
PrintDispatchParameters = 0
PrintProgramBinaryProcessingTime = 0
PrintRelocations = 0
PrintTimestampPacketContents = 0
WddmResidencyLogger = 0
PrintBOCreateDestroyResult = 0
PrintBOBindingResult = 0
PrintBOPrefetchingResult = 0
PrintDriverDiagnostics = -1
PrintDeviceAndEngineIdOnSubmission = 0
EnableDirectSubmission = -1
DirectSubmissionBufferPlacement = -1
DirectSubmissionSemaphorePlacement = -1
DirectSubmissionBufferAddressing = -1
DirectSubmissionSemaphoreAddressing = -1
DirectSubmissionDisableCpuCacheFlush = -1
DirectSubmissionNewResourceTlbFlush = -1
DirectSubmissionDisableCacheFlush = -1
DirectSubmissionPCIBarrier = -1
DirectSubmissionDetectGpuHang = -1
DirectSubmissionDisableMonitorFence = -1
DirectSubmissionPrintBuffers = 0
DirectSubmissionMaxRingBuffers = -1
USMEvictAfterMigration = 0
EnableDirectSubmissionController = -1
DirectSubmissionControllerTimeout = -1
DirectSubmissionMonitorFenceInputPolicy = -1
UseVmBind = -1
EnableNullHardware = 0
ForceLinearImages = 0
ForceSLML3Config = 0
Force32bitAddressing = 0
ForceCsrFlushing = 0
ForceCsrReprogramming = 0
OmitTimestampPacketDependencies = 0
DisableStatelessToStatefulOptimization = 0
DisableConcurrentBlockExecution = 0
UseNoRingFlushesKmdMode = 1
AllowZeroCopyWithoutCoherency = -1
DisableZeroCopyForUseHostPtr = 0
DisableZeroCopyForBuffers = 0
DisableDcFlushInEpilogue = 0
EnableBOMmapCreate = -1
EnableHostPtrTracking = -1
EnableNV12 = 1
EnablePackedYuv = 1
OverrideCmdListUpdateCapability = -1
PrintCpuFlags = 0
PrintL0MetricLogs = 0
EnableDeferredDeleter = 1
EnableAsyncDestroyAllocations = 1
EnableAsyncEventsHandler = 1
EnableForcePin = 1
EnableGemCloseWorker = -1
OverrideDriverVersion = -1
EnableHostPtrValidation = -1
EnableComputeWorkSizeND = 1
EnableMultiRootDeviceContexts = 1
EnableComputeWorkSizeSquared = 0
EnableVaLibCalls = -1
EnableExtendedVaFormats = 0
EnableStateBaseAddressTracking = -1
AddClGlSharing = -1
EnableFormatQuery = 1
EnableFreeMemory = 1
ForceSamplerLowFilteringPrecision = 0
ForcePreferredAllocationMethod = -1
MakeAllBuffersResident = 0
EnableBlitterOperationsSupport = -1
EnableBlitterForEnqueueOperations = -1
EnableBlitterForEnqueueImageOperations = -1
EnableCacheFlushAfterWalker = -1
EnableLocalMemory = -1
EnableStatelessToStatefulBufferOffsetOpt = -1
CreateMultipleRootDevices = 0
CreateMultipleSubDevices = 0
LimitAmountOfReturnedDevices = 0
Enable64kbpages = -1
SignalAllEventPackets = -1
OverrideEnableKmdNotify = -1
OverrideKmdNotifyDelayMicroseconds = -1
OverrideEnableQuickKmdSleep = -1
OverrideQuickKmdSleepDelayMicroseconds = -1
OverrideEnableQuickKmdSleepForSporadicWaits = -1
OverrideDelayQuickKmdSleepForSporadicWaitsMicroseconds = -1
OverrideEnableQuickKmdSleepForDirectSubmission = -1
OverrideDelayQuickKmdSleepForDirectSubmissionMicroseconds = -1
PowerSavingMode = 0
CsrDispatchMode = 0
OverrideDefaultFP64Settings = -1
ProgramStallCommandForSelfCleanup = -1
RenderCompressedImagesEnabled = -1
RenderCompressedBuffersEnabled = -1
EnableStateComputeModeTracking = -1
EnableSetPair = -1
EnableUsmConcurrentAccessSupport = 0
EnableSharedSystemUsmSupport = -1
EnablePassInlineData = -1
ForceFineGrainedSVMSupport = -1
EnableImmediateCmdListHeapSharing = -1
ForceSystemMemoryPlacement = 0
ForceNonSystemMemoryPlacement = 0
DisableIndirectAccess = -1
ForceOCLVersion = 0
ForceOCL21FeaturesSupport = -1
ForcePreemptionMode = -1
UsmInitialPlacement = -1
ForceKernelPreemptionMode = -1
NodeOrdinal = -1
OverrideThreadArbitrationPolicy = -1
OverrideAubDeviceId = -1
EnableTimestampPacket = -1
AllocateSharedAllocationsWithCpuAndGpuStorage = -1
UseMaxSimdSizeToDeduceMaxWorkgroupSize = 0
ReturnRawGpuTimestamps = 0
EnableDeviceBasedTimestamps = 1
MaxHwThreadsPercent = 0
MinHwThreadsUnoccupied = 0
LimitBlitterMaxWidth = -1
LimitBlitterMaxHeight = -1
LimitBlitterMaxSetWidth = -1
LimitBlitterMaxSetHeight = -1
PostBlitCommand = -1
UseCommandBufferHeaderSizeForWddmQueueSubmission = 1
CompactL3FlushEventPacket = -1
OverridePreemptionSurfaceSizeInMb = -1
OverrideLeastOccupiedBank = -1
UseAsyncDrmExec = -1
EnableMultiStorageResources = -1
SelectCmdListHeapAddressModel = -1
MultiStorageGranularity = -1
DispatchCmdlistCmdBufferPrimary = -1
MultiStoragePolicy = -1;
PrintExecutionBuffer = 0
PrintBOsForSubmit = 0
PrintXeLogs = 0
PauseOnBlitCopy = -1
ForceImplicitFlush = 0
ForcePipeControlPriorToWalker = 0
OverrideRevision = -1
ForceCacheFlushForBcs = -1
ForceGpgpuSubmissionForBcsEnqueue = -1
ForceSemaphoreDelayBetweenWaits = -1
ForceLocalMemoryAccessMode = -1
ZebinAppendElws = 0
ZebinIgnoreIcbeVersion = 1
LogWaitingForCompletion = 0
ForceUserptrAlignment = -1
ForceCommandBufferAlignment = -1
ForceDefaultHeapSize = -1
UseExternalAllocatorForSshAndDsh = -1
DirectSubmissionDrmContext = -1
DirectSubmissionOverrideBlitterSupport = -1
DirectSubmissionOverrideRenderSupport = -1
DirectSubmissionOverrideComputeSupport = -1
EnableUsmCompression = -1
PerformImplicitFlushEveryEnqueueCount = -1
PerformImplicitFlushForNewResource = -1
PerformImplicitFlushForIdleGpu = -1
ProvideVerboseImplicitFlush = false
PauseOnGpuMode = -1
PrintTagAllocationAddress = 0
DoNotFlushCaches = false
UseBindlessMode = -1
MediaVfeStateMaxSubSlices = -1
PrintBlitDispatchDetails = 0
EnableHostPointerImport = -1
EnableHostUsmSupport = -1
Enable64bAddressingForRayTracing = -1
ForceBtpPrefetchMode = -1
OverrideProfilingTimerResolution = -1
PrintKmdTimes = 0
PrintIoctlEntries = 0
PrintUmdSharedMigration = 0
UpdateTaskCountFromWait = -1
EnableTimestampWaitForQueues = -1
PreferCopyEngineForCopyBufferToBuffer = -1
EnableStaticPartitioning = -1
AllowDcFlush = -1
DisableDeepBind = 0
GpuScratchRegWriteAfterWalker = -1
GpuScratchRegWriteRegisterData = 0
GpuScratchRegWriteRegisterOffset = 0
UseBindlessDebugSip = 0
OverrideTimestampEvents= -1
OverrideEventSynchronizeTimeout = -1
OverrideSlmAllocationSize = -1
OverrideSlmSize = -1
EnableXe3VariableRegisterSizeAllocation = -1
UseCyclesPerSecondTimer = 0
PrintOsContextInitializations = 0
WaitLoopCount = -1
ForceIOHAlignment = -1
DebuggerLogBitmask = 0
GTPinAllocateBufferInSharedMemory = -1
DeferOsContextInitialization = -1
DebuggerForceSbaTrackingMode = -1
ExperimentalEnableCustomLocalMemoryAlignment = 0
AlignLocalMemoryVaTo2MB = -1
OverrideTimestampPacketSize = -1
ComputeOverdispatchDisable = -1
CFEWeightedDispatchModeDisable = -1
CFESingleSliceDispatchCCSMode = -1
CleanStateInPreamble = 0
CFENumberOfWalkers = -1
MaximumNumberOfThreads = -1
OverDispatchControl = -1
CFELargeGRFThreadAdjustDisable = -1
SynchronizeWalkerInWparidMode = -1
EnableWalkerPartition = -1
OverrideNumComputeUnitsForScratch = -1
ForceThreadGroupDispatchSize = -1
ForceStatelessL1CachingPolicy = -1
ForceMemoryBankIndexOverride = -1
SynchronizeWithSemaphores = -1
UseCrossAtomicSynchronization = -1
EnableStatelessCompression = -1
EnablePrivateScratchSlot1 = -1
DisablePipeControlPrecedingPostSyncCommand = -1
UseClearColorAllocationForBlitter = false
OverrideMultiStoragePlacement = -1
ForceMultiTileAllocPlacement = 0
ForceSingleTileAllocPlacement = 0
FormatForStatelessCompressionWithUnifiedMemory = 0xF
ForceBufferCompressionFormat = -1
ExperimentalSetWalkerPartitionCount = 0
EnableStatelessCompressionWithUnifiedMemory = 0
UseImmediateFlushTask = -1
EnableHwGenerationLocalIds = -1
WalkerPartitionPreferHighestDimension = -1
SetMinimalPartitionSize = -1
OverrideBlitterTargetMemory = -1
OverrideBlitterMocs = -1
GlobalSequencerFlushOnCopyEngine = false
ForceCompressionDisabledForCompressedBlitCopies = -1
ExperimentalSetWalkerPartitionType = -1
UseImmDataWriteModeOnPostSyncOperation = 0
OverridePostSyncMocs = -1
EnableImmediateVmBindExt = -1
EnablePipelineSelectTracking = -1
PipelinedPipelineSelect = false
ForceDispatchTimeoutCounter = -1
ForceTheMaximumNumberOfOutstandingRayqueriesPerSs = -1
CFEStackIDControl = -1
ForceExecutionTile = -1
DisableCachingForHeaps = 0
OverrideTimestampPacketSize = -1
ClDeviceGlobalMemSizeAvailablePercent = -1
DebugApiUsed = 0
ForceHostPointerImport = -1
OverrideMaxWorkGroupCount = -1
UseUmKmDataTranslator = 0
EnableUserFenceForCompletionWait = -1
EnableResourceTags = 0
SetKmdWaitTimeout = -1
VmBindWaitUserFenceTimeout = -1
OverrideNotifyEnableForTagUpdatePostSync = -1
OverrideUseKmdWaitFunction = -1
EnableCacheFlushAfterWalkerForAllQueues = -1
Force32BitDriverSupport = -1
EnableCopyEngineSelector = -1
ForceBCSForInternalCopyEngine = -1
OverrideCmdQueueSynchronousMode = -1
OverrideImmediateCmdListSynchronousMode = -1
UseAtomicsForSelfCleanupSection = -1
HBMSizePerTileInGigabytes = 0
OverrideSystolicPipelineSelect = -1
OverrideSystolicInComputeWalker = -1
SkipFlushingEventsOnGetStatusCalls = 0
EnableWaitpkg = -1
WaitpkgControlValue = -1
WaitpkgCounterValue = -1
WaitpkgThreshold = -1
AllowUnrestrictedSize = 0
ForceDefaultThreadArbitrationPolicyIfNotSpecified = 0
DoNotFreeResources = 0
OverrideGmmResourceUsageField = -1
OverrideGmmCacheableField = -1
LogAllocationType = 0
LogAllocationStdout = 0
ProgramExtendedPipeControlPriorToNonPipelinedStateCommand = -1
ProgramWalkerPartitionSelfCleanup = -1
WparidRegisterProgramming = -1
UsePipeControlAfterPartitionedWalker = -1
OverrideBufferSuitableForRenderCompression = -1
AllowPatchingVfeStateInCommandLists = 0
PrintMemoryRegionSizes = 0
OverrideDrmRegion = -1
BinaryCacheTrace = false
OverrideL1CacheControlInSurfaceState = -1
OverrideL1CacheControlInSurfaceStateForScratchSpace = -1
OverridePreferredSlmAllocationSizePerDss = -1
ForceGrfNumProgrammingWithScm = -1
ForceThreadArbitrationPolicyProgrammingWithScm = -1
ForceL3PrefetchForComputeWalker = -1
ForceZPassAsyncComputeThreadLimit = -1
ForcePixelAsyncComputeThreadLimit = -1
ToggleHintKernelDisableCompression = -1
EnableImplicitScaling = -1
DecompressInL3ForImage2dFromBuffer = -1
CFEComputeDispatchAllWalkerEnable = -1
ComputeDispatchAllWalkerEnableInComputeWalker = -1
EnableMemoryPrefetch = -1
ForceCsStallForStatePrefetch = -1
ProgramGlobalFenceAsMiMemFenceCommandInCommandStream = -1
ProgramGlobalFenceAsPostSyncOperationInComputeWalker = -1
ProgramGlobalFenceAsKernelInstructionInEUKernel = -1
DoNotReportTile1BscWaActive = -1
ForceTile0PlacementForTile1ResourcesWaActive = -1
EnableFrontEndTracking = -1
ClosEnabled = -1
ClosNumCacheWays = -1
L2ClosNumCacheWays = -1
ForceStaticL2ClosReservation = 0
EngineUsageHint = -1
UpdateCrossThreadDataSize = 0
ForceBcsEngineIndex = -1
ResolveDependenciesViaPipeControls = -1
EnableDrmCompletionFence = -1
UseDrmCompletionFenceForAllAllocations = -1
Force2dImageAsArray = -1
ForceExtendedBufferSize = -1
ForceExtendedUSMBufferSize = -1
ForceExtendedKernelIsaSize = -1
ForceSipClass = -1
MakeIndirectAllocationsResidentAsPack = -1
MakeEachAllocationResident = -1
AssignBCSAtEnqueue = -1
DeferCmdQGpgpuInitialization = -1
DeferCmdQBcsInitialization = -1
SplitBcsCopy = -1
SplitBcsCopyHostptr = -1
SplitBcsSize = -1
SplitBcsMask = 0
SplitBcsMaskH2D = 0
SplitBcsMaskD2H = 0
PreferInternalBcsEngine = -1
ReuseKernelBinaries = -1
EnableChipsetUniqueUUID = -1
ForceSimdMessageSizeInWalker = -1
UseNewQueryTopoIoctl = 1
DisableGpuHangDetection = 0
DisableForceToStateless = 0
ForceTheoreticalMaxWorkGroupCount = 0
EnableRecoverablePageFaults = -1
EnableImplicitMigrationOnFaultableHardware = -1
UseDrmVirtualEnginesForCcs = -1
UseDrmVirtualEnginesForBcs = -1
LimitEngineCountForVirtualBcs = -1
LimitEngineCountForVirtualCcs = -1
ForceRunAloneContext = -1
AppendMemoryPrefetchForKmdMigratedSharedAllocations = 1
ForceMemoryPrefetchForKmdMigratedSharedAllocations = 0
ClKhrExternalMemoryExtension = 1
EnableDdiHandlesExtension = 0
WaitForMemoryRelease = 0
KMDSupportForCrossTileMigrationPolicy = -1
CreateContextWithAccessCounters = -1
AccessCountersTrigger = -1
AccessCountersGranularity = -1
OverridePatIndex = -1
UseTileMemoryBankInVirtualMemoryCreation = -1
DisableScratchPages = -1
GpuFaultCheckThreshold = -1
ForceAllResourcesUncached = 0
ForcePreParserEnabledForMiArbCheck = -1
UseDynamicEventPacketsCount = -1
BatchBufferStartPrepatchingWaEnabled = -1
SetVmAdviseAtomicAttribute = -1
SetVmAdvisePreferredLocation = -1
DirectSubmissionForceLocalMemoryStorageMode = -1
EnableRingSwitchTagUpdateWa = -1
PlaformSupportEvictIfNecessaryFlag = -1
DirectSubmissionFlatRingBuffer = -1
ReadBackCommandBufferAllocation = -1
PrintImageBlitBlockCopyCmdDetails = 0
LogGdiCalls = 0
LogGdiCallsToFile = 0
UseContextEndOffsetForEventCompletion = -1
DirectSubmissionInsertExtraMiMemFenceCommands = -1
DirectSubmissionInsertSfenceInstructionPriorToSubmission = -1
EnableTimestampWaitForEvents = -1
ForceEvictOnlyIfNecessaryFlag = -1
ForceWddmLowPriorityContextValue = -1
EnableDebuggerMmapMemoryAccess = 0
FailBuildProgramWithStatefulAccess = -1
OverrideCmdListCmdBufferSizeInKb = -1
ForceUncachedGmmUsageType = 0
OverrideDeviceName = unk
OverridePlatformName = unk
WddmResidencyLoggerOutputDirectory = unk
ToggleBitIn57GpuVa = unk
EnablePrivateBO = 0
EnableReservingInSvmRange = 1
ExperimentalEnableDeviceAllocationCache = -1
OverrideL1CachePolicyInSurfaceStateAndStateless = -1
EnableBcsSwControlWa = -1
ExperimentalEnableL0DebuggerForOpenCL = 0
ForceImagesSupport = -1
RemoveUserFenceInCmdlistResetAndDestroy = -1
ForceCsrLockInBcsEnqueueOnlyForGpgpuSubmission = -1
ExperimentalEnableTileAttach = 1
ExperimentalAlignLocalMemorySizeTo2MB = 0
DirectSubmissionDisablePrefetcher = -1
ForceDefaultGrfCompilationMode = 0
ForceLargeGrfCompilationMode = 0
EnableConcurrentSharedCrossP2PDeviceAccess = 0
ForceStatelessMocsEncryptionBit = -1
ExperimentalCopyThroughLock = -1
ExperimentalH2DCpuCopyThreshold = -1
ExperimentalD2HCpuCopyThreshold = -1
CopyHostPtrOnCpu = -1
PrintCompletionFenceUsage = 0
SetAmountOfReusableAllocations = -1
ExperimentalSmallBufferPoolAllocator = -1
ForceZeDeviceCanAccessPerReturnValue = -1
AdjustThreadGroupDispatchSize = -1
ForceNonblockingExecbufferCalls = -1
UseHighAlignmentForHeapExtended = -1
ForceAutoGrfCompilationMode = -1
ForceComputeWalkerPostSyncFlush = -1
DirectSubmissionRelaxedOrdering = -1
DirectSubmissionRelaxedOrderingForBcs = -1
OverrideUserFenceStartValue = -1
DirectSubmissionRelaxedOrderingQueueSizeLimit = -1
ExperimentalForceCopyThroughLock = -1
AppendAubStreamContextFlags = -1
ContextGroupSize=-1
DirectSubmissionRelaxedOrderingMinNumberOfClients = -1
ExperimentalCopyThroughLockWaitlistSizeThreshold= -1
ForceDummyBlitWa = -1
DetectIndirectAccessInKernel = -1
OptimizeIoqBarriersHandling = -1
AllocateSharedAllocationsInHeapExtendedHost = 1
AllocateHostAllocationsInHeapExtendedHost = 1
PrintBOChunkingLogs = 0
EnableBOChunkingPrefetch = 0
EnableBOChunkingDevMemPrefetch = 0
EnableBOChunkingPreferredLocationHint = 0
DestroyAllocationsViaGmm = -1
EnableCompatibilityMode = 1
RedirectFlushL3HostUsmToExternal = 1
NumberOfBOChunks = 2
SetBOChunkingSize = -1
EnableBOChunking = -1
MinimalAllocationSizeForChunking = -1
DirectSubmissionControllerMaxTimeout = -1
ExitOnSubmissionNumber = -1
ExitOnSubmissionMode = 0
ForceInOrderImmediateCmdListExecution = -1
ForceTlbFlush = -1
DebugSetMemoryDiagnosticsDelay = -1
EnableCpuCacheForResources = 0
OverrideHwIpVersion = -1
PrintGlobalTimestampInNs = 0
EnableDeviceStateVerification = -1
VfBarResourceAllocationWa = 1
PrintTimestampPacketUsage = -1
TrackNumCsrClientsOnSyncPoints = -1
EventTimestampRefreshIntervalInMilliSec = -1
SynchronizeEventBeforeReset = -1
RemoveRestrictionsOnNumberOfThreadsInGpgpuThreadGroup = 0
MitigateHostVisibleSignal = 0
DisableGemCreateExtSetPat = 0
SkipDcFlushOnBarrierWithoutEvents = -1
EnableAIL=1
WaitForUserFenceOnEventHostSynchronize = -1
ForceGpuStatusCheckOnSuccessfulEventHostSynchronize = -1
ProgramUserInterruptOnResolvedDependency = -1
DisableSystemPointerKernelArgument = -1
DoNotValidateDriverPath = 0
EnableInOrderRegularCmdListPatching = -1
ForceInOrderEvents = -1
EnableInOrderRelaxedOrderingForEventsChaining = -1
OverridePatIndexForSystemMemory = -1
OverridePatIndexForDeviceMemory = -1
PrintGmmCompressionParams = 0
SkipInOrderNonWalkerSignalingAllowed = 0
PrintKernelDispatchParameters = 0
SetAmountOfReusableAllocationsPerCmdQueue = -1
ForceThreadGroupDispatchSizeAlgorithm = -1
EnableImplicitConvertionToCounterBasedEvents = -1
SetAmountOfInternalHeapsToPreallocate = -1
DoNotUseProductConfigForValidationWa = 0
EnableDeviceStateVerificationAfterFailedSubmission = -1
InOrderAtomicSignallingEnabled = -1
SetProcessPowerThrottlingState = -1
InOrderDuplicatedCounterStorageEnabled = -1
OverrideCpuCaching = -1
EnableDeviceUsmAllocationPool = -1
EnableHostUsmAllocationPool = -1
EnableHostAllocationMemPolicy = 0
OverrideHostAllocationMemPolicyMode = -1
SetThreadPriority = -1
ExperimentalEnableHostAllocationCache = -1
OverridePatIndexForUncachedTypes = -1
OverridePatIndexForCachedTypes = -1
FlushTlbBeforeCopy = -1
EnableL3FlushAfterPostSync = -1
EnableUserFenceUponUnbind = -1
EnableWaitOnUserFenceAfterBindAndUnbind = -1
UseGemCreateExtInAllocateMemoryByKMD = -1
PrintMmapAndMunMapCalls = -1
UseLocalPreferredForCacheableBuffers = -1
EnableFtrTile64Optimization = 0
ForceTlbFlushWithTaskCountAfterCopy = -1
ForceSynchronizedDispatchMode = -1
ReadOnlyAllocationsTypeMask = 0
EnableLogLevel = 6
EnableReusingGpuTimestamps = -1
ForceCopyOperationOffloadForComputeCmdList = -1
SecondaryContextEngineTypeMask = -1
DisableSupportForL0Debugger=0
EnableCopyWithStagingBuffers = -1
StagingBufferSize = -1
OverrideNumHighPriorityContexts = -1
ForceScratchAndMTPBufferSizeMode = -1
ForcePostSyncL1Flush = -1
AllowNotZeroForCompressedOnWddm = -1
ForceGmmSystemMemoryBufferForAllocations = 0
ForceComputeWalkerPostSyncFlushWithWrite = -1
DeferStateInitSubmissionToFirstRegularUsage = -1
WaitForPagingFenceInController = -1
DirectSubmissionPrintSemaphoreUsage = -1
ForceNonCoherentModeForTimestamps = -1
SetAssumeNotInUse = 1
ExperimentalUSMAllocationReuseVersion = -1
ForceNonWalkerSplitMemoryCopy = -1
FinalizerInputType = unk
FinalizerLibraryName = unk
EnableGlobalTimestampViaSubmission = -1
DirectSubmissionSwitchSemaphoreMode = -1
DisableProgrammableMetricsSupport = 0
IgnoreZebinUnknownAttributes = 0
DebugUmdFifoPollInterval = -1
MaxSubSlicesSupportedOverride = -1
ForceWddmHugeChunkSizeMB = -1
DirectSubmissionControllerIdleDetection = -1
DebugUmdInterruptTimeout = -1
DebugUmdMaxReadWriteRetry = -1
DirectSubmissionControllerBcsTimeoutDivisor = -1
ForceZeroCopyForUseHostPtr = 0
OverrideNumThreadsPerEu = -1
OverrideRegionCount = -1
ForceUseOnlyGlobalTimestamps = 0
PrintCalculatedTimestamps = 0
DisableIndirectDetectionForKernelNames = unk
ForceIndirectDetectionForCMKernels = -1
LogIndirectDetectionKernelDetails = 0
DirectSubmissionRelaxedOrderingCounterHeuristic = -1
DirectSubmissionRelaxedOrderingCounterHeuristicTreshold = -1
ClearStandaloneInOrderTimestampAllocation = -1
EnableTimestampPoolAllocator = -1
PipelinedEuThreadArbitration = -1
ExperimentalUSMAllocationReuseCleaner = -1
DummyPageBackingEnabled = 0
EnableDeferBacking = 0
EmitMemAdvisePriorToCopyForNonUsm = -1
TreatNonUsmForTransfersAsSharedSystem = -1
SetMaxBVHLevels = -1
GetSipBinaryFromExternalLib = -1
LogUsmReuse = 0
ExperimentalUSMAllocationReuseLimitThreshold = -1
UseIgcAsFcl = 0
EnablePidFdOrSocketsForIpc = -1
ExposeSingleDevice=-1
OverrideCopyOffloadMode = -1
UseSingleListForTemporaryAllocations = -1
OverrideMaxMemAllocSizeMb = -1
DetectIncorrectPointersOnSetArgCalls =-1
IgcLibraryName = unk
SplitBcsAggregatedEventsMode = -1
SplitBcsRequiredTileCount = -1
SplitBcsRequiredEnginesCount = -1
# Please don't edit below this line
