/*
 * Copyright (C) 2026 Intel Corporation
 *
 * SPDX-License-Identifier: MIT
 *
 */

#include <windows.h>
#include "driver_version.h"

#ifdef VER_FILEVERSION
#undef VER_FILEVERSION
#endif

#ifdef VER_PRODUCTVERSION
#undef VER_PRODUCTVERSION
#endif

#ifdef VER_FILETYPE
#undef VER_FILETYPE
#endif

#ifdef VER_FILESUBTYPE
#undef VER_FILESUBTYPE
#endif

#ifdef VER_COMPANYNAME_STR
#undef VER_COMPANYNAME_STR
#endif

#ifdef VER_FILEDESCRIPTION_STR
#undef VER_FILEDESCRIPTION_STR
#endif

#ifdef VER_INTERNALNAME_STR
#undef VER_INTERNALNAME_STR
#endif

#ifdef VER_LEGALCOPYRIGHT_STR
#undef VER_LEGALCOPYRIGHT_STR
#endif

#ifdef VER_ORIGINALFILENAME_STR
#undef VER_ORIGINALFILENAME_STR
#endif

#ifdef VER_PRODUCTNAME_STR
#undef VER_PRODUCTNAME_STR
#endif

#ifdef VER_FILEVERSION_STR
#undef VER_FILEVERSION_STR
#endif

#ifdef VER_PRODUCTVERSION_STR
#undef VER_PRODUCTVERSION_STR
#endif

#ifdef VER_FILEFLAGSMASK
#undef VER_FILEFLAGSMASK
#endif

#ifdef VER_FILEFLAGS
#undef VER_FILEFLAGS
#endif

#ifdef VER_FILEOS
#undef VER_FILEOS
#endif

#define TOSTR2(X) #X
#define TOSTR(X) TOSTR2(X)

// Default version - change here to update all ocloc version resources
#define NEO_DEFAULT_VERSION_MAJOR 1
#define NEO_DEFAULT_VERSION_MINOR 0

#define VER_FILEVERSION                NEO_DEFAULT_VERSION_MAJOR,NEO_DEFAULT_VERSION_MINOR,NEO_VERSION_BUILD,0
#define VER_FILEVERSION_STR            TOSTR(NEO_DEFAULT_VERSION_MAJOR) "." TOSTR(NEO_DEFAULT_VERSION_MINOR) "." TOSTR(NEO_VERSION_BUILD) "\0"

#define VER_PRODUCTVERSION             VER_FILEVERSION
#define VER_PRODUCTVERSION_STR         VER_FILEVERSION_STR

#define VER_FILEFLAGSMASK              VS_FFI_FILEFLAGSMASK
#define VER_FILEFLAGS                  0
#define VER_FILEOS                     VOS_NT_WINDOWS32

#define VER_FILETYPE                   VFT_DLL
#define VER_FILESUBTYPE                VFT2_UNKNOWN

#define VER_COMPANYNAME_STR            "Intel Corporation"
#define VER_FILEDESCRIPTION_STR        "Intel(R) OpenCL Offline Compiler"
#define VER_INTERNALNAME_STR           "ocloc"
#define VER_LEGALCOPYRIGHT_STR         "Copyright (C) 2018-2026 Intel Corporation"
#if defined(_WIN64)
#define VER_ORIGINALFILENAME_STR       "ocloc64.dll"
#else
#define VER_ORIGINALFILENAME_STR       "ocloc32.dll"
#endif
#define VER_PRODUCTNAME_STR            "Intel(R) Graphics Compute Runtime for OpenCL(TM)"

#include <common.ver> // NOLINT
